---
import {getEntry} from "astro:content";
import {render} from "astro:content";
import MasterLayout from "../../layouts/MasterLayout.astro";
import Card from "../../components/Card.astro";
import EmploymentHistory from "../../components/Content/EmploymentHistory.astro";

const [about] = await Promise.all([
    getEntry('other', 'about/'+Astro.currentLocale),
]);
const {Content: About} = await render(about!);
---
<MasterLayout>
    <Card title="About Me">
        <div class="prose">
            <About/>
        </div>
    </Card>
    <Card title="Employment History">
        <EmploymentHistory />
    </Card>
</MasterLayout>
