---
import {getEntry} from "astro:content";
import {render} from "astro:content";
import {Debug} from 'astro:components';

import MasterLayout from "../layouts/MasterLayout.astro";
import Card from "../components/Card.astro";

const [about] = await Promise.all([
    getEntry('other', 'about/' + Astro.currentLocale),
]);
const {Content: About} = await render(about!);
---
<MasterLayout title="">
    <Card>
        <div class="header-container">
            <h2>About me</h2>
        </div>
        <About/>
    </Card>
</MasterLayout>
