---
// src/components/Navbar.astro
import { getRelativeLocaleUrl } from "astro:i18n";
import ThemeToggler from "./ThemeToggler.astro";

---

<nav class="container flex flex-row space-between p-xs px-xs-0">
    <h1 class="text-md font-semibold">Emma Lin</h1>

    <div class="flex items-center flex-row gap-sm">
        <div class="flex items-center flex-row gap-xs">
            {Astro.currentLocale === "en" && <a href={getRelativeLocaleUrl("zh")}>中</a>}
            {Astro.currentLocale === "zh" && <a href={getRelativeLocaleUrl("en")}>EN</a>}
            
        </div>

        <ThemeToggler/>
    
    </div>
</nav>