---
import "../styles/master.css";
import Navigation from "../components/Navigation.astro";
import QuickInfo from "../components/Content/QuickInfo.astro";

interface Props {
    title?: string;
}
const { title } = Astro.props;

const content =
    Astro.currentLocale == "en"
        ? { website: "Personal CV", name: "Emma Lin K.W." }
        : { website: "個人履歷", name: "連家慧 (Emma Lin)" };
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>
            {title ? `${title} - ` : ""} Emma Lin K.W. - {content.website}
        </title>
        <script>
            if (
                localStorage.theme === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </head>
    <body>
        <Navigation />
        <div class="container flex items-start gap-md">
            <QuickInfo name={content.name} />
            <div class="flex flex-col gap-md">
                <slot />
            </div>
        </div>
    </body>
</html>
